.customTopToolBar{
     display: flex;
     flex-direction: row;
     align-items: center;
     justify-content:space-between;
     gap: 45vw;

    & h2{
       color: rgb(74, 169, 207);
       font-size: 19px;
     }
}